<html>
    <head>
        <title>Connections</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="style.css">
    
   </head>
   
   <body style="margin-left:60pt;margin-top:8pt;">
        <div ng-app="_app" ng-controller="_controller" ng-init="init();">
            <h1 style="text-align: center;">Business Central - Sales Invoices</h1>

            <br/>
            <table class="c8-table" border="0" style="width: calc(100vw - (2 * 60pt))">
                <tr>
                    <th class="c8-title-cell c8-checkbox">
                        <input type="checkbox" ng-model="checked">
                    </th>
                    <th class="c8-title"></th>
                    <th class="c8-title" style="text-align: left;">Name</th>
                    <th class="c8-title">Description</th>
                    <th class="c8-title c8-width-modified">Modified</th>
                </tr>
                <tr ng-repeat="record in connections.value">
                    <td class="c8-checkbox">
                        <input type="checkbox" ng-model="record.checked">
                    </td>
                    <td class="c8-cell-icon">
                        <i class="material-icons">{{record.type}}</i>
                    </td>
                    <td class="c8-text">       
                        <a href="#" class="c8-icon-text">{{record.name}}</a>
                    </td>
                    <td class="c8-text">{{record.description}}</td>
                    <td class="c8-text c8-width-modified">{{record.modifiedDate.getTime()}}</td>
                </tr>
            </table>
        </div>

        <script>
            var mainApp = angular.module("_app", []);
            
            mainApp.controller('_controller', function($scope, $http) {

                $scope.connections = {}; 
   
                $scope.init = () => {
                    $scope.location = window.location;
                    $scope.origin = window.location.origin;
                    $scope.checked = false;

                    $scope.connections = { value : [] }

                    $scope.getConnections();
                }
                $scope.getConnections = () => {
                    debugger;
                    var request = {
                        method: 'GET',
                        url: 'https://localhost:5001/api/v1/connections',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': $scope.authorization
                        }
                    }
                    $http(request).then(
                        successCallback = (response) => {
                            debugger;
                            $scope.connections.value = response.data;
                            
                            $scope.connections.value.array.forEach(e => {
                               e.modifiedDate = new Date(e.modifiedDate);
                            });
                        },
                        errorCallback = (response) => {
                            alert("Error in connections");
                        } 
                    );            
                }
            });
        </script>
      
   </body>
</html>