<html>
    <head>
        <title>Connections</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="style.css"> 
   </head>
   
   <body style="margin-left:60pt;margin-top:8pt;background-color: #eee; ">
        <div ng-app="_app" ng-controller="_controller" ng-init="init();">

            <div class="nx-center">
                <div class="w3-container nx-center" style="margin-top: 20pt; font-size: 10pt; width: 680pt; padding-bottom: 16pt; background-color: #fff;">
                    <!-- PANEL -->
                    <div class="w3-panel" style="background-color: #C3C300; color: #eee">
                        <h3><b>EZSetup</b></h3>
                        <p>Configuration information</p>
                    </div>
                    <!-- SECTIONS TABS CONTROL -->
                    <br/>
        
                    <div class="w3-row">
                        <button class="w3-cell nx-tab-button" 
                                style="width:150px" 
                                ng-click="openSection(section.id, layout.sections);"
                                ng-class="{'nx-tab-selected': section.active == true}"
                                ng-repeat="section in layout.sections">{{section.title}}</button>
        
                        <div class="w3-rest nx-tab-button-empty">&nbsp;</div>
                    </div>
        
                    <br/>
                    <!-- SECTIONS -->
                    <div id="{{section.id}}" 
                        ng-repeat="section in layout.sections" 
                        style="display: none; margin-left: 8pt; margin-right: 8pt;">
                
                        <div class="w3-row" style="margin-top: 4px; margin-bottom: 4px;" ng-repeat="item in section.list">
                            <div ng-include="'controls.html'"></div>                                                    
                        </div>
                    </div>
                    <br/>
                    {{layout}}
                    <!-- BUTTONBAR -->
                    <div class="w3-container w3-border" style="padding-top: 8pt; padding-bottom: 8pt; background-color: #eee;">
                        <button class="w3-button w3-border w3-white" style="width: 60pt; margin-right: 6pt;">OK</button>
                        <button class="w3-button w3-border w3-white" style="width: 60pt; margin-right: 6pt;">Cancel</button> 
                        <button class="w3-button w3-border w3-white" style="width: 60pt; margin-right: 6pt;" ng-click="onApply()">Apply</button> 
                        <button class="w3-button w3-border w3-white" style="width: 60pt; margin-right: 6pt;" ng-click="onPreview()">Preview</button>               
                    </div>
                </div>
            </div>
        </div>

        <!-- SHUTTLE JAVASCRIPT LOGIC -->
        <script>
            ___shuttle_init = (id, array) => {
                var list = ___shuttle_getAll(id);
                ___shuttle_remove(id, list);
                ___shuttle_insert(id, array);
            }
            ___shuttle_moveToTop = (id) => {
                var list = ___shuttle_getSelected(id);
                ___shuttle_remove(id, list);
                ___shuttle_insertAt(0, id, list);
                ___shuttle_makeSelected(id, list);
            }
            ___shuttle_moveUp = (id) => {
                var list = ___shuttle_getSelected(id);
                var idx = ___shuttle_getTopIndex(id, list);
                ___shuttle_remove(id, list);
                ___shuttle_insertAt(idx, id, list);
                ___shuttle_makeSelected(id, list);
            }
            ___shuttle_moveDown = (id) => {
                var list = ___shuttle_getSelected(id);
                var idx = ___shuttle_getBottomIndex(id, list);
                ___shuttle_remove(id, list);
                ___shuttle_insertAt(idx, id, list);
                ___shuttle_makeSelected(id, list);
            }
            ___shuttle_moveToBottom = (id) => {
                var list = ___shuttle_getSelected(id);
                ___shuttle_remove(id, list);   
                ___shuttle_insertAt(-1, id, list);
                ___shuttle_makeSelected(id, list);      
            }
            ___shuttle_moveAll = (id, sid) => {
                var list = ___shuttle_getAll(id);
                ___shuttle_remove(id, list);
                ___shuttle_insert(sid, list);        
            }
            ___shuttle_moveSelected = (id, sid) => {
                var list = ___shuttle_getSelected(id);
                ___shuttle_remove(id, list);
                ___shuttle_insert(sid, list);
            }
            ___shuttle_remove = (id, array) => {
                var list = document.getElementById(id);

                array.forEach((e) => {
                    for (var i = list.length-1; i >= 0; i--) {
                        if (e == list.options[i].label) {
                            list.remove(i);
                        }
                    }              
                });
            }
            ___shuttle_getTopIndex = (id, array) => {
                var list = document.getElementById(id);
                var cmp = array[0];

                for(i=0; i <list.options.length; i++) {
                    if (list.options[i].label === cmp) {
                        if (i === 0) {
                            return 0;
                        } else {
                            return i-1;
                        }
                    }
                }
                return 0;
            }
            ___shuttle_getBottomIndex = (id, array) => {
                var list = document.getElementById(id);
                var cmp = array[array.length-1];
                var idx = list.options.length - array.length;

                for(i=0; i <list.options.length; i++) {
                    if (list.options[i].label === cmp) {
                        if (i === idx ) {
                            return -1
                        } else {
                            return i+1;
                        }
                    }
                }
                return 0;
            }
            ___shuttle_insert = (id, array) => {
                var list = document.getElementById(id);

                array.forEach((e) => {
                    var option = document.createElement("option");
                    option.text = e;
                    list.add(option);           
                });            
            }
            ___shuttle_insertAt = (idx, id, array) => {
                var list = document.getElementById(id);

                if (idx === 0) {
                    for (var i = 0; i <array.length; i++) {
                        var option = document.createElement("option");
                        option.text = array[i];
                        option.value = array[i];
                        list.add(option, idx+i);           
                    }
                } 
                else if (idx === -1) {
                    for (var i = 0; i <array.length; i++) {
                        var option = document.createElement("option");
                        option.text = array[i];
                        option.value = array[i];
                        list.add(option);           
                    }
                }
                else {
                    for (var i = 0; i <array.length; i++) {
                        var option = document.createElement("option");
                        option.text = array[i];
                        option.value = array[i];
                        list.add(option, idx+i);           
                    }            
                } 
            }
            ___shuttle_getSelected = (id) => {
                var list = document.getElementById(id);

                var result = [];
                for (var i = 0; i <list.length; i++) {
                    if (list.options[i].selected) {
                        result.push(list.options[i].label);
                    }
                }             
                return result;
            }
            ___shuttle_makeSelected = (id, array) => {
                var list = document.getElementById(id);
                array.forEach((e) => {
                    for (var i = 0; i < list.options.length; i++) {
                        if (e == list.options[i].label) {
                            list.options[i].selected = true;
                        }
                    }              
                });
            }
            ___shuttle_getAll = (id) => {
                var list = document.getElementById(id);

                var result = [];
                for (var i = 0; i <list.length; i++) {
                        result.push(list.options[i].label);
                }             
                return result;           
            }
            ___shuttle_selectAll = (id) => {
                var list = document.getElementById(id);

                for (var i=0; i<list.length; i++) {
                    list.options[i].selected = true;
                } 
            }
            ___shuttle_selectNone = (id) => {
                var list = document.getElementById(id);

                for (var i=0; i<list.length; i++) {
                    list.options[i].selected = false;
                } 
            }        
        </script>

        <script>
            var mainApp = angular.module("_app", []);
            
            mainApp.controller('_controller', function($scope, $http) {

                $scope.model = {
                    shuttle: ["defined","byte","unsigned char","char","short","int","long","float","decimal","single","double","unticked4","ticked2"]
                }
                $scope.layout = {
                    sections: [
                        {
                            id: "template",
                            title: "Template",
                            active: true,
                            list: [
                                {
                                    id: "id",
                                    title: "Id",
                                    type: "text",
                                    error: "Data not found"
                                },
                                {
                                    id: "name",
                                    title: "Name",
                                    type: "text",
                                    info: "Remember your name"
                                },
                                {
                                    id: "description",
                                    title: "Description",
                                    type: "memo",
                                    rows: 10
                                }
                            ]
                        },
                        {   
                            id: "shuttle",
                            title: "Shuttle",
                            active: false,
                            list: [
                                {
                                    id: "shuttle",
                                    title: "Shuttle",
                                    type: "shuttle",
                                    values: ['unticked1','unticked2','unticked3','unticked4','unticked5','ticked1','ticked2','ticked3']
                                }
                            ]
                        },                        
                        {   
                            id: "source",
                            title: "Source",
                            active: false,
                            list: [
                                {
                                    id: "code",
                                    title: "Source Code",
                                    type: "source",
                                    rows: 20
                                }
                            ]
                        }                        
                    ]
                }

                $scope.init = () => {
                    var searchParams = new URLSearchParams(window.location.search);
                    if (searchParams.has('id') === true) {
                        var id = searchParams.get('id');
                        // $scope.getTemplate(id);
                    }
                    
                    setTimeout(() => {
                        if ($scope.layout.sections && $scope.layout.sections.length > 0) {
                            $scope.openSection($scope.layout.sections[0].id, $scope.layout.sections);
                        }
                        $scope.setValues();
                    }, 5);
                }
                $scope.openSection = (id, tabList) => {
                    tabList.forEach(e => {
                        var elm = document.getElementById(e.id);

                        if (id === e.id) {
                            e.active = true;
                            if (elm) {
                                elm.style.display = "block";
                            }
                            $scope.onTab(id);
                        } else {
                            e.active = false;
                            if (elm) {
                                elm.style.display = "none";
                            }
                        }      
                    });
                }
                $scope.onTab = (id) => {
                    debugger;
                    if (id === "shuttle") {
                        debugger;
                        var v = $scope.layout.sections[1].list[0].values;
                        var unchecked = [];
                        var checked = [];

                        if ($scope.model['shuttle']) {
                            for (i = 0; i < $scope.model['shuttle'].length; i++) {
                                checked.push($scope.model['shuttle'][i]);
                            }
                            for (i = 0; i < v.length; i++) {
                                if ($scope.model['shuttle'].indexOf(v[i]) == -1) {
                                    unchecked.push(v[i]);
                                } 
                            }
                        }
                        else {
                            unchecked = v;
                        }

                        debugger;
                        ___shuttle_init('___shuttleList1', unchecked);
                        ___shuttle_init('___shuttleList2', checked);
                    }
                }
                $scope.setValues = () => {  
                    debugger;   
                    /* SECTIONS */
                    $scope.layout.sections.forEach((section) => {
                        section.list.forEach((item, idx) => {
                            if(section.list[idx].type == "shuttle") {
                            } 
                            else {
                                section.list[idx].model = $scope.model[item.id];
                            } 
                        });  
                    });
                }
                $scope.getValues = () => {     
                    /* SECTIONS */
                    $scope.layout.sections.forEach((section) => {
                        section.list.forEach((item, idx) => {
                            if(section.list[idx].type != "shuttle") {
                                $scope.model[item.id] = section.list[idx].model; 
                            }
                        });  
                    });            
                }
                $scope.getTemplate = (id) => {
                    var request = {
                        method: 'GET',
                        url: 'https://localhost:5001/api/v1/template/' + id,
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        }
                    }
                    $http(request).then(
                        successCallback = (response) => {
                            $scope.card = response.data;
                        },
                        errorCallback = (response) => {
                            alert("Something went wrong");
                        } 
                    );            
                }
                $scope.saveTemplate = () => {;
                    var request = {
                        method: 'POST',
                        url: 'https://localhost:5001/api/v1/template/save',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                        },
                        data: JSON.stringify($scope.model)
                    }
                    $http(request).then(
                        successCallback = (response) => {
                            $scope.status = response.data.status;
                        },
                        errorCallback = (response) => {
                            alert("Something went wrong");
                        } 
                    );            
                }
                $scope.onOK = () => {

                }
                $scope.onApply = () => {
                    $scope.getValues();
                    $scope.saveTemplate();
                }
                $scope.onPreview = () => {
                    console.log("preview");
                }
            });
        </script>
      
   </body>
</html>